.u-section-1 .u-sheet-1 {
  min-height: 517px;
}

.u-section-1 .u-text-1 {
  margin: 132px 0 0;
}

.u-section-1 .u-text-2 {
  margin: 35px 59px 60px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 354px;
}

.u-section-2 .u-text-1 {
  margin: 60px 340px 0 325px;
}

.u-section-2 .u-text-2 {
  line-height: 1.8;
  width: 680px;
  font-size: 1.125rem;
  font-weight: 700;
  margin: 20px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-1 {
    margin-left: 225px;
    margin-right: 240px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-text-1 {
    margin-left: 115px;
    margin-right: 130px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-1 {
    margin-left: 25px;
    margin-right: 40px;
  }

  .u-section-2 .u-text-2 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-2 {
    width: 340px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 354px;
}

.u-section-3 .u-text-1 {
  margin: 96px auto 0;
}

.u-section-3 .u-text-2 {
  line-height: 1.8;
  width: 680px;
  font-weight: 700;
  font-size: 1.25rem;
  margin: 27px auto 60px;
}

@media (max-width: 767px) {
  .u-section-3 .u-text-2 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-text-2 {
    width: 340px;
  }
}